<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3.org/StyleSheets/TR/2016/cg-draft">
    
   {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <script>
      MathJax = {
  tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [ ['$$', '$$'], ['\\[', '\\]']]
  },
  svg: {
    fontCache: 'global'
  }
      };
      </script>

    <script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <style>
      body {max-width:90em; background-color:rgba(255, 255, 255, .5);}
      #toc {background-color:rgba(240, 240, 240, .5)!important;
	   }
      @media screen and (min-width: 78em) {
	  body {background-position-x: 6em;}
	  #toc {background-color:rgba(240, 240, 240, .5)!important;}
      }
	    
      summary {
	  font-weight: normal;
      }
    </style>
  </head>
  <body>
<div class="head">
    <a class="logo" href="https://www.w3.org/">
<img alt="W3C" src="https://www.w3.org/StyleSheets/TR/2016/logos/W3C" width="72" height="48">
</a> <h1 id="title" class="title">{{page.title}}</h1>
</div>

    <div class="container-lg px-3 my-5 markdown-body">
      


      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        under construction <a href="{{ site.github.repository_url }}/tree/gh-pages/{{ page.path }}">Git Source</a>.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
